@import '../../assets/base-styles.scss';

.btn-audio-diction, .icon-audio-diction, .linc-to-game, .icon-linc-to-game  {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-dic {
  background-color: $bgTColorGrey;
  padding: 0 2.5rem;
}

.wrapper-sec-dic {
  padding-top: 80px;
  max-width: 1240px;
  margin: auto;
  width: 100%;
}

.dictionary-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-top: 30px;
}

.dictionary-card {
  background-color: $bgTColorWhite;
  border-radius: 15px;
  display: grid;
  grid-gap: 20px;
  height: 250px;
  grid-template-columns: 30% 1fr;
}

.diction-meta {
  overflow: hidden;
}

.diction-meta-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.btn-audio-wrapper {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.diction-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  .wordEn {
    font-family: $enFont;
    font-size: $textBasic;
    font-weight: 700;
  }

  .wordRu {
    font-family: $rusFont;
    font-size: $textBasic;
    font-weight: 500;
  }

  .text-meaning,
  .text-example {
    font-family: $enFont;
    font-size: 1rem;
    font-weight: 400;
  }

  .text-meaning-trn,
  .text-example-trn {
    font-family: $rusFont;
    font-size: 1rem;
    font-weight: 400;
  }
}

.sec-btn-diction {

  display: none;
}

.diction-desc.loggedin {
  justify-content: space-between;

  .sec-btn-diction {
    display: flex;
  }
}

.wrapper-btn-diction {
  display: flex;
  gap: 1rem;
}

.label {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-mask: url('../../../assets/icons/icon-dif.svg') no-repeat;
  -webkit-mask-size: auto 16px;
  top: 0px;
  right: 10%;
}
.label.hard {
  background-color: $iconColorComplex;
}
.label.easy {
  background-color: $iconColorStudied;
}

.difficulty-block {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .difficulty-button {
    height: 1.5rem;
    cursor: pointer;
    border: 0;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
    font-size: 1rem;
    padding: 0rem 1rem 0rem 2rem;
    font-family: $rusFont;
    background-color: $bgTColorWhite;
  }
}

.easy-icon {
  background-image: url('../../../assets/icons/check.svg');

  &:hover {
    background-image: url('../../../assets/icons/check-hover.svg');
  }

  &.active {
    background-image: url('../../../assets/icons/check-active.svg');
  }

  &.active:hover {
    opacity: 0.8;
  }
}

.hard-icon {
  background-image: url('../../../assets/icons/star.svg');

  &:hover {
    background-image: url('../../../assets/icons/star-hover.svg');
  }

  &.active {
    background-image: url('../../../assets/icons/star-active.svg');
  }

  &.active:hover {
    opacity: 0.8;
  }
}

.btn-audio-diction {
  height: 45px;
  width: 45px;
  border-radius: 3rem;
  background-color: $bgTColorBlack;
  border: 1px solid $bgTColorBlack;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: $colorBtnHov;
    border: 1px solid $bgTColorBlack;
    .icon-audio-diction {
      background-color: $bgTColorBlack;
    }
  }
  &:disabled {
    pointer-events: none; 
    background-color: $colorBtnDisab;
    .icon-audio-diction {
      background-color: $bgTColorBlack;
    }
  }
}


.icon-audio-diction {
  cursor: pointer;
  position: absolute;
  background-color: $bgTColorWhite;
  width: 25px;
  height: 25px;
  -webkit-mask: url('icons/icon-audio.svg') no-repeat;
  -webkit-mask-size: auto 25px;
  top: 21%;
  right: 13%;
  }

.wrapper-paging {
  a {
    order: 3;
  }
  .paging {
    order: 1;
  }
}

input {
  cursor: pointer;
}

.wrapper-linc {
  position: relative;
  order: 2;
  margin-left: auto;
  margin-right: 30px;
    .linc-to-game {
      font-size: 0.9rem;
      height: 40px;
      width: 274px;
      border-radius: 3rem;
      background-color: $bgTColorWhite;
      border: 1px solid $bgTColorBlack;
      position: relative;
      cursor: pointer;

      &:hover {
        background: $colorBtnHov;
      }
    }

    .icon-linc-to-game {
      cursor: pointer;
      position: absolute;
      background-color: $bgTColorBlack;
      width: 20px;
      height: 20px;
      -webkit-mask: url('icons/arrow-bot.svg') no-repeat;
      -webkit-mask-size: auto 20px;
      top: 28%;
      right: 0.4rem;
    }
}

.linc-to-game.linc-block {
  pointer-events: none;
  color: rgb(38, 38, 38);
}

.diction-desc {
  .block-en {
    padding-right: 3.5rem;
    padding-left: 1rem;
  }

  .block-ru {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .section-dic {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 723px) {
  .wrapper-paging {


    .wrapper-linc {
      margin-left: 0;
   }
}
}


@media screen and (max-width: 680px) {
  .dictionary-card {
    grid-template-columns: 1fr;
  }

  .dictionary-card {
    height: 100%;
    grid-gap: 0;
  }

  .diction-meta {
    height: 23rem;
    .diction-meta-photo {
      border-radius: 15px 15px 0 0;
    }
  }

  .diction-desc.loggedin {
    padding-left: 1rem;
  }

  .wrapper-difficulty {
    margin-top: 1rem;
}

  .diction-desc.loggedin .sec-btn-diction {
    display: flex;
    flex-direction: column;
  }

}