@import '../../assets/base-styles.scss';

.section-word {
  padding: 0 2.5rem;
}

.wrapper-sec-word {
  padding-top: 80px;
  padding-bottom: 90px;
  max-width: 1240px;
  margin: auto;
  width: 100%;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px
}

.textbook-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 80px;
  border-radius: 7px;
  padding: 12px 7px 7px 12px;
  display: flex;
  justify-content: start;
  border: 1px solid #efefef;

  .wordEn {
    font-family: $enFont;
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: capitalize;
  }
  .wordRu {
    font-family: $rusFont;
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: capitalize;
  }

  .label {
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-mask: url('../../../assets/icons/icon-dif.svg') no-repeat;
    -webkit-mask-size: auto 16px;
    top: 0px;
    right: 10%;
  }
  .label.hard {
    background-color: $iconColorComplex;
  }
  .label.easy {
    background-color: $iconColorStudied;
  }
}

.wrapper-difficulty {
  display: flex;
  gap: 7px;
  margin-left: auto;
  margin-top: auto;
  .difficulty {
    width: 30px;
    padding: 4px;
    font-size: 0.8rem;
    padding: 2px 4px 2px 4px;
    border-radius: 25px;
    border: 1px solid $bgTColorBlack;
    background-color: $bgTColorWhite;
    background-size: 12px;
    background-position:  calc(100% - 4px);
    background-repeat: no-repeat;
    display: none;
  }
  .vic {
    background-image: url('../../../assets/icons/icon-vic.svg');
  }
  .loss {
    background-image: url('../../../assets/icons/icon-loss.svg');
  }
  .difficulty.vic.play {
    display: block;
  }
  .difficulty.loss.play {
    display: block;
  }
}



.unit-1 {
  .textbook-card {
    background: $bgColorUnit1;
  }
}

.unit-2 {
  .textbook-card {
    background: $bgColorUnit2;
  }
}

.unit-3 {
  .textbook-card {
    background: $bgColorUnit3;
  }
}

.unit-4 {
  .textbook-card {
    background: $bgColorUnit4;
  }
}

.unit-5 {
  .textbook-card {
    background: $bgColorUnit5;
  }
}

.unit-6 {
  .textbook-card {
    background: $bgColorUnit6;
  }
}

.unit-7 {
    .textbook-card {
      background: $bgColorUnit7;
      border: 1px solid $bgTColorBlack;
    }
}

.learn-chapter {
  background-size: 150px;
  background-image: url('../../../assets/images/star-bg.png');
}

@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper-paging {
    flex-direction: column;
    align-items: start;
    a {
      order: 1;
    }
    .paging {
      order: 2;
    }
  }

  .wrapper-sec-word {
    padding-bottom: 80px;
  }

}



