@import '../../assets/base-styles.scss';

.arrow, .icon-arrow, .photo  {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

p {
  margin: 0;
  padding: 0;
}

.section-cover {
  max-width: 1240px;
  margin: auto;
  width: 100%;
  display: grid;
  padding: 0 $mainIndent;
  grid-template-columns: 50% 50%;
  margin-bottom: 2rem;
  gap: 2rem;
}

.cover-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-text {
  position: relative;
  margin-top: 6rem;

  .cover-rs{
    font-family: $enFont;
    font-size: $textSubtitle;
  }
  .title {
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 3.5rem;
  }
  .desc {
    font-size: $textDescription;
    font-weight: 300;
    line-height: 1.75rem;
    max-width: 450px;
    width: 100%;
  }
  .icon-star4 {
    width: 81px;
    height: 81px;
    margin-top: 50px;
  }
  .icon-star6 {
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: 6%;
    left: 82%;
  }
}

.img-block {
  position: relative;
  padding-right: 40px;
  padding-bottom: 2rem;

  .icon-mane-adapt {
    display: none;
  }
  .icon-mane-mobile {
    display: none;
  }
  .icon-star8 {
    height: 250px;
    width: 250px;
    position: absolute;
    top: -15%;
    left: -57%;
    z-index: -1;
  }
  .icon-set {
    position: absolute;
    top: 4%;
    left: 55%;
    z-index: -1;
  }
}

.sec-1 {
  display: flex;
  align-items: center;
  padding: 0 $mainIndent;
  height: 240px;
  background-color: #D7E977;
}

.wrapper-sec {
  max-width: 1240px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .block-title {
    font-size: $textHeader;
  }
  .block-desc{
    font-size: 1rem;
    margin: 0;
  }
}

.icon-bookmark {
  width: 34px;
  height: 34px;
}

.sec-2 {
  background-color: $bgTColorGrey;
  padding: 0 $mainIndent;
}

.wrapper-sec-2 {
  padding-top: 105px;
  max-width: 1240px;
  margin: auto;
  width: 100%;
}

.sec-2-title {
  font-size: $textHeader;
}

.main-block-sec-2 {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-column-gap: 1.25rem;
  grid-row-gap: 2.2rem;
  padding-top: 90px;

  .title {
    font-size: $textSubtitle;
    padding-bottom: 20px;
    line-height: 1.875rem;
  }
}

.desc-sec-2 {
  font-size: $textBasic;
  font-weight: 300;
  line-height: 1.875rem;

  p {
    padding-top: 15px;

    &:first-child {
      padding-top: 0;
    }
  }
}

.link-arrow {
  align-self: flex-end;
  justify-self: end;
}

.arrow {
  background-color: black;
  width: 70px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-arrow {
    width: 20px;
    height: 15px;
    fill: $bgTColorWhite;
  }
}

.link-arrow:hover .arrow {
  background: $colorBtnHov;
  outline: 1px solid #000000;
  color: #000000;

  .icon-arrow {
    fill: $bgTColorBlack;
  }
}

hr {
  display: block;
  border: none;
  background-color: #535353;
  color: #535353;
  height: 1px;
 }

.line {
  grid-column: 2/4;
}

@import './MainAdaptive.scss';