$icons-path: 'icons/';
$unit-img-path: 'images/units/';

.card-translate {
  text-transform: capitalize;
  font-family: $rusFont;
  font-size: 1.5rem;
  margin: 0rem 0 1.2rem;
}

.card-word {
  text-transform: capitalize;
  font-family: $enFont;
  font-size: 2rem;
  margin: 1rem 0 1.5rem ;
}

.point-multiplier {
  display: flex;
  width: 70px;
  gap: 0.5rem;
  margin: 1rem auto 0.5rem;

  .circle {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.5rem;
    background: $circleBgColor;
  }

  .circle-1__active {
    background: $сolorUnit1;
  }

  .circle-2__active {
    background: $сolorUnit2;
  }

  .circle-3__active {
    background: $сolorUnit3;
  }

  .circle-4__active {
    background: $сolorUnit4;
  }

  .circle-5__active {
    background: $сolorUnit5;
  }

  .circle-6__active {
    background: $сolorUnit6;
  }
}

.success-count {
  font-size: 0.9rem;
}

#score {
  font-size: 1.8rem;
  font-family: $enFont;
}

.background-true {
  background: $trueBgColorGames !important;
  transition: all 0.5s ease;
}

.background-false {
  background: $falseBgColorGames !important;
  transition: all 0.5s ease;
}

.arr {
  display: block;
  width: 25px;
  height: 15px;
}

.decision_button {
  background: $bgTColorWhite;
  border: 0;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.decision_button__false {
  color: $falseColorGames;
  border: 2px solid $falseColorGames;
  background-image: url('#{$icons-path}arrow-left-red.svg');
  padding: 0.6rem 1rem 0.6rem 3rem;
  background-size: 20px;
  background-position: bottom 0.8rem left 1rem;
  background-repeat: no-repeat;
}

.decision_button__true {
  color: $trueColorGames;
  border: 2px solid $trueColorGames;
  background-image: url('#{$icons-path}arrow-right-green.svg');
  padding: 0.6rem 3rem 0.6rem 1rem;
  background-size: 20px;
  background-position: bottom 0.8rem right 1rem;
  background-repeat: no-repeat;
}

.decision {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.diagram {
  margin: 1rem auto;
}

.unit-img {
  width: 110px;
  margin: 1rem auto 0.5rem;
  height: 70px;
}

.unit-1-img {
  background: url('#{$unit-img-path}unit-1.svg');
  background-size: cover;
}

.unit-2-img {
  background: url('#{$unit-img-path}unit-2.svg');
  background-size: cover;
  height: 78px;
}

.unit-3-img {
  background: url('#{$unit-img-path}unit-3.svg');
  background-size: cover;
  width: 100px;
  height: 77px;
}

.unit-4-img {
  background: url('#{$unit-img-path}unit-4.svg');
  background-size: cover;
}

.unit-5-img {
  background: url('#{$unit-img-path}unit-5.svg');
  height: 80px;
  background-size: cover;
}
.unit-6-img {
  background: url('#{$unit-img-path}unit-6.svg');
  background-size: cover;
}

@media screen and (max-width: 767px) {

  .decision {
    gap: 5vw;
  }

  .decision_button__false {
    color: $falseColorGames;
    border: 2px solid $falseColorGames;
    background-image: url('#{$icons-path}arrow-left-red.svg');
    padding: 0.5rem 0.9rem 0.5rem 2.5rem;
    background-size: 1.2rem;
    background-position: bottom 0.7rem left 1rem;
    background-repeat: no-repeat;
  }

  .decision_button__true {
    color: $trueColorGames;
    border: 2px solid $trueColorGames;
    background-image: url('#{$icons-path}arrow-right-green.svg');
    padding: 0.5rem 2.5rem 0.5rem 0.9rem;
    background-size: 1.2rem;
    background-position: bottom 0.7rem right 1rem;
    background-repeat: no-repeat;
  }
}
