.start-sprint {
  p {
    margin: 1rem 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  .select-label {
    margin-top: 2rem;
  }
}

.unit-select {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  max-width: 400px;
  justify-content: space-between;
  gap: 1rem 0rem;
  margin: 2rem auto;
}

.start-sprint {
  
  .select-unit {
    display: block;
    color: $bgTColorWhite;
    padding: 0.7rem 1.4rem;
    border: 0;
    font-size: 0.9rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .select-unit:hover {
    background-color: $colorBtnHov;
    color: $bgTColorBlack;
    outline: 1px solid $bgTColorBlack;
  }
  
  .unit-1 {
    background: $btnColorUnit1;
  }
  
  .unit-2 {
    background: $btnColorUnit2; 
  }
  
  .unit-3 {
    background: $btnColorUnit3;  
  }
  
  .unit-4 {
    background: $btnColorUnit4; 
  }
  
  .unit-5 {
    background: $btnColorUnit5;  
  }
  
  .unit-6 {
    background: $btnColorUnit6;  
  }

}

.start-countdown {
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {

  .unit-select {
    width: 60vw;
    margin: 1rem auto;
  }

}