$icons-path: '../../../../assets/images/png/';

.popup-audio {
  position: absolute;
  z-index: 110;
  width: 50vw;
  max-width: 800px;
  height: 70vh;
  max-height: 500px;
  right: calc(50% - 25vw);
  top: calc(50% - 35vh);
  background: $bgTColorWhite;
  border-radius: 1rem;
  border: 1px solid $btnColorUnit6;
  display: flex;
  justify-content: center;
  align-content: center;
}
.popupAudio {
  padding: 1rem;
  width: 45vw;
  height: 90%;
  margin: auto;
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}

.result-info-value {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result-info-words {
  overflow: auto;
}

.result-info-words::-webkit-scrollbar {
  width: 12px; 
  height: 90%;
}

.result-info-words::-webkit-scrollbar-track {
  background: $bgTColorWhite;    
  z-index: -1;
  
}

.result-info-words::-webkit-scrollbar-thumb {
  background-color: $TextNotActive; 
  border-radius: 20px;    
  cursor: pointer; 
  border: 3px solid $bgTColorWhite; 
}

.result-description {
  font-family: $rusFont;
  font-size: 1.2rem;
  margin: 1rem auto 2rem;
}

.value-pop {
  color: progress-circular;
  z-index: 101;
}

.out-pop {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $trueColorGames;
  border-radius: 50%;
}

.container-pop {
  width: 90px;
  height: 90px;
  padding: 2px;
  background: $bgTColorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.progress-circular__pop {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: conic-gradient($falseColorGames 0deg, $circleBgColor 0deg);
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: $bgTColorWhite;
  }
}

.head-result {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0px;
}

.result-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .hr-line {
    width: 45vw;
  }
}

.footer-result {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  border-top: 1px solid $bgTColorGrey;

  .result-exit {
    padding: 10px 15px;
    border-radius: 1.3rem;
    border: 2px solid $iconColorStudied;
    cursor: pointer;
    font-family: $enFont;
    font-size: 1.6rem;
    font-weight: bold;
    &:hover {
      background-color: $iconColorStudied;
      border: 2px solid $iconColorStudied;
      color: $bgTColorWhite;
    }
  }
}

.result-info-words {
  height: 70%;

  hr {
    background: $circleBgColor;
  }
}

.result-correct {
  list-style: none;
  padding: 0;
}

.result-incorrect {
  list-style: none;
  padding: 0;
}

.inside-progress {
  z-index: 100;
}

.studied-wrld,
.unstudied-wrld {
  font-family: $rusFont;
  font-size: 1.2rem;
  margin: 1rem auto 1rem;
}

.img-voice__res {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;

  svg {
    align-self: center;
    justify-self: center;
  }

  &:hover {
    background-color: $bgTColorGrey;
    transition: ease-in-out 0.3s;
  }
}

.close-audio__game {
  height: 30px;
  width: 30px;
  justify-self: end;
  cursor: pointer;
  
  .close-audio__gamepage {
    text-decoration: none;

    .close-crose__white {
      background-image: url('#{$icons-path}close-black.png');
      width: 20px;
      height: 20px;
      background-size: cover;
    }
  }
}

.result-item {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.correct-item {

  use {
    fill: $trueColorGames;
  }
}

.incorrect-item {
  use {
    fill: $falseColorGames;
  }
}

.eng-word {
  font-family: $enFont;
  text-transform: capitalize;
}

.transcription {
  color: $TextNotActive;
  font-family: $enFont;
}

.rus-word {
  text-transform: capitalize;
  font-family: $rusFont;
  font-size: 1rem;
}

.menu-buttons {
  display: flex;
  gap: 1rem;
}

.results-success {
  padding: 0.3rem 0.7rem;
  margin-left: 1rem;
  color: $bgTColorWhite;
  background: $trueColorGames;
  border-radius: 1rem;
}

.results-fail {
  padding: 0.3rem 0.7rem;
  margin-left: 1rem;
  color: $bgTColorWhite;
  background: $falseColorGames;
  border-radius: 1rem;
}

@media screen and (max-width: 767px) {

  .popupAudio,
  .popup-audio {
    width: 85vw;
    right: calc(50% - 42.5vw);
    max-height: 700px;
    height: 85vh;
    top: calc(50% - 42vh);
  }

  .popupAudio .wrapper {
    height: 82vh;
  }

  .menu-buttons {
    flex-direction: column;
  }

  .transcription {
    display: none;
  }

  .result-item {
    flex-wrap: wrap;
  }
}
