$icons-path: '/images/png/';

.header-audio {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.close-audio {
  height: 50px;
  width: 50px;
  .close-audio__firstpage {
    text-decoration: none;

    .close-crose__white {
      margin: 25% auto;
      background-image: url('#{$icons-path}close-black.png');
      background-color: $bgColorGames;
      width: 20px;
      height: 20px;
      background-size: cover;
    }
  }
}

.select-unit-offer {
  font-size: 1.1rem;
}

.audio-content__wrapper {
  max-width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .control-explanation {
    margin: 0;
  }

  .control-explanation__item {
    margin: 0.7rem auto;
    font-family: $rusFont;
    font-size: 1rem;
    font-weight: normal;
    list-style: none;
  }

  .audio-main__subtitle {
    margin-bottom: 1rem;
    font-family: $rusFont;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
  }
}

.select-container {
  margin: 1rem auto 1rem;
  text-align: center;
  width: 30vw;
  max-width: 400px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;

  .select-unit {
    padding: 0.7rem 1.4rem;
    border: 0;
    font-size: 0.9rem;
    border-radius: 2rem;
    border: none;
    color: $bgTColorWhite;
    cursor: pointer;
    font-family: $rusFont;
    background-color: $circleBgColor;
  }
  .unit-1 {
    background-color: $btnColorUnit1;
    transition: ease-in-out 0.4s;
  }
  .unit-2 {
    background-color: $btnColorUnit2;
    transition: ease-in-out 0.4s;
  }
  .unit-3 {
    background-color: $btnColorUnit3;
    transition: ease-in-out 0.4s;
  }
  .unit-4 {
    background-color: $btnColorUnit4;
    transition: ease-in-out 0.4s;
  }
  .unit-5 {
    background-color: $btnColorUnit5;
    transition: ease-in-out 0.4s;
  }
  .unit-6 {
    background-color: $btnColorUnit6;
    transition: ease-in-out 0.4s;
  }

  .select-unit:hover {
    background-color: $colorBtnHov;
    color: $bgTColorBlack;
    outline: 1px solid $bgTColorBlack;
  }
}

.block-btn__start {
  margin: 0.5rem auto;
}

.btn-start {
  width: 100px;
  height: 40px;
  border-radius: 1.3rem;
  border: 1px solid $bgTColorBlack;
  background: $bgTColorWhite;
  cursor: pointer;
  font-family: $rusFont;
  font-size: 1.1rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: $colorBtnHov;
    border: 1px solid $bgTColorBlack;
  }

  &:disabled {
    border: 1px solid $bgTColorGrey;
  }

  &:disabled:hover {
    background-color: $bgTColorWhite;
    border: 1px solid $bgTColorGrey;
    cursor: default;
  }
}

.audio-main__title {
  font-family: $enFont;
  font-size: 2.8rem;
}

@media screen and (max-width: 767px) {

  .select-word {
    min-width: 50vw;
  }

  .select-container {
    width: 65vw;
    margin: 1rem auto;
  }

  .select-unit {
    padding: 0.5rem 1.1rem;
    font-size: 0.8rem;
  }


  .audio-content__wrapper {
    max-width: 75vw;
  }

  .control-explanation {
    padding: 1rem;
  }

  .select-unit-offer {
    text-align: right;
  }
}

