@import '../../assets/base-styles.scss';

.popup-container {
  position: absolute;
  z-index: 100;
  width: 500px;
  right: calc(50% - 250px);
  top: calc(50% - 250px);
  background: $bgTColorWhite;
  border-radius: 1rem;
}

.popup {
  padding: 3rem 3rem;
  font-family: $rusFont;
  width: 420px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: stretch;
  text-align: center;
}

.popup__cross-button {
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  background: $bgTColorWhite;
  border: 1px solid $bgTColorBlack;
  border-radius: 1rem;

  &:hover {
    background: $colorBtnHov;
  }
}

.popup__heading {
  font-size: $textSubtitle;
  margin: 0;
}

.popup__buttons {
  align-self: flex-start;
  display: flex;
  gap: 2rem;
}

#registration {
  align-self: center;
}

.popup__input {
  border: 0;
  background: $bgColorInput;
  padding: 0.6rem;
  border-radius: 0.4rem;
}

.popup__buttons-auth {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {

  .popup-container {
    max-width: 500px;
    width: 90vw;
    right: calc(50% - 45vw);
    top: 5rem;
  }

  .popup {
    padding: 1rem 1rem;
    max-width: 420px;
    width: 82vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: stretch;
    text-align: center;

    .button,
    .button_light {
      padding: 0.7rem 1.1rem;
      outline: 1px solid $bgTColorBlack;
    }
  }
}