@import './assets/base-styles.scss';
@import './assets/loader.scss';

.button  {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html {
  font-family: $rusFont;
  font-weight: 300;
  font-size: 16px;
}

.main-page {
  min-height: 150px;
}

body {
  margin: 0;
}

.header-wrapper{
  border-bottom: 1px solid #535353;
}

.footer-wrapper {
  border-top: 1px solid #535353;
}

.white {
  background-color: $bgTColorWhite;
}

.main-container{
  width: 100%;
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
  overflow: hidden;
}

.error-message {
  text-align: center;
  color: $falseColorGames;
}

.main-container-games {
  min-height: calc(100vh - 65px);

  .game-container,
  .main-page-audio {
    min-height: calc(100vh - 50px);
  }
}

body::-webkit-scrollbar {
  width: 12px; 
  height: 90%;
}

body::-webkit-scrollbar-track {
  background: $bgTColorWhite;    
  z-index: -1;
  
}

body::-webkit-scrollbar-thumb {
  background-color: $bgTColorBlack; 
  border-radius: 20px;    
  cursor: pointer; 
  border: 3px solid $bgTColorWhite; 
}

.shadow-overlay {
  width: 100%;
  height: 100%;
  background: #181e30;
  opacity: 0.6;
  z-index: 90;
  top: 0;
  position: fixed;
}

.button {
  color: $bgTColorWhite;
  background: $bgTColorBlack;
  padding: 0.7rem 1.4rem;
  transition: all 1s ease;
  border: 0;
  font-size: 0.9rem;
  border-radius: 2rem;
  white-space: nowrap;
  cursor: pointer;
}

.button_light {
  background: $bgTColorWhite;
  outline: 1px solid $bgTColorBlack;
  color: $bgTColorBlack;
}

.button:hover {
  background: $colorBtnHov;
  outline: 1px solid $bgTColorBlack;
  color: $bgTColorBlack;
}

.button:disabled,
.button[disabled],
.button[disabled]:hover {
  background: $TextNotActive;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: 60px;
  background: $bgTColorWhite;
  border: 1px solid $btnColorUnit1;
  padding: 1rem;
  z-index: 100;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: center;;
}

.hidden {
  display: none !important;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.transition-fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

@media screen and (max-width: 800px) {

  html {
    font-size: 14px;
  }

  .main-block-sec-2,
  .main-block-sec-4 {
    display: flex;
    flex-direction: column;
  }
}