@import '../../assets/base-styles.scss';

.not-found-container {
  background-color: $bgTColorGrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sec-not-found {
  background-color: $bgTColorGrey;
  width: 100%;
  min-height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
}

.icon-404 {
  max-height: 25vh;
}

.sec-not-found-title {
  font-family: $enFont;
  font-size: $textSubtitle;
  padding-top: 3rem;
}

.sec-not-found-desc {
  font-family: $rusFont;
  font-size: $textDescription;
  padding-top: 0.4rem;
  font-weight: 300;
}